<form method="POST" id="form">
    <label id="formLabel" for = "phrase">
        Enter Phrase:
        <input type="text" id ="phrase"/>
    </label>
        <button type="submit">Check Phrase</button>
    <div id="error" class="error" hidden>I'm an error</div>
</form> 