<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome Checker</title>
    <link rel='stylesheet' href='/public/style.css'/>
    
</head>
<body>
    <h1>Palindrome Checker</h1>
 
 <p id = "paragraph" class = "classOne">This website allows you to determine whether or not a word is a palindrome.</p>
<main>
    {{{body}}}
</main>

<ul id = "attempts"></ul>
<br>
<br>
<br>
<footer>Kelly DiResto 10424201</footer>
	<script src='/public/js/script.js'></script>
</body>
</html>