<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Cool Website</title>
    
    
</head>
<body>
    <h1>Website</h1>
<main>
    {{{body}}}
</main>

<br>
<br>
<br>
<footer>Kelly DiResto 10424201</footer>
</body>
</html>