  
    <main>
        <h1>Characters Found</h1>
        <h2>Search Term: {{{searchTerm}}}</h2>
        <ul>
            {{#each characters}}
            <li>{{{name}}}</li>
            {{/each}}
        </ul>
        <br>
        <a href="/">Make another search</a>
    </main>
