  
    <main>
        <h1>Character Finder</h1>
        <p>This website allows users to search through characters in the Marvel API. 
            You can start by typing into the search bar below!</p>
        
        <form method="POST" action="/search">
        <label> Search Term:
            <input type="text"
        name="searchTerm" />
        </label>
            <input type="submit"
        value="Search" />
        </form>
        
    </main>
