<form method="POST" id="login-form" action = "/login">
    <label id="username" for = "username">
        Enter Username:
        <input type="text" id ="username" name ="username"/>
    </label>
    <br>
    <label id="password" for = "password">
        Enter Password :
        <input type="password" id ="password" name = "password"/>
    </label>
        <button type="submit">Sign In</button>
    <div id="error" class="error" hidden>I'm an error</div>
    <br>
    <br>
    <br>
    <a href="/signup">Need to register? Click here to sign-up.</a>
</form>