<form method="POST" id="signup-form" action ="/signup">
    <label id="username" for = "username">
        Enter Username:
        <input type="text" id ="username" name = "username"/>
    </label>
    <br>
     <label id="password" for = "password">
        Enter Password :
        <input type="password" id ="password" name="password"/>
    </label>
    <br>
        <button type="submit">Sign Up</button>
    <div id="error" class="error" hidden>I'm an error</div>
    <br>
    <br>
    <br>
    <a href="/">Already have an account? Click here to log-in.</a>
</form>